<form [formGroup]="form" (ngSubmit)="submit()">
  <h1>{{this.steps[activedStep].header}}</h1>
  <mat-horizontal-stepper (selectionChange)="selectActiveStep($event)">
    <mat-step *ngFor="let step of steps; let index = index; let last = last;">
      <ng-template matStepLabel>{{ step.label }}</ng-template>
      <formly-form
        [form]="form.at(index)"
        [model]="model"
        [fields]="step.fields"
        [options]="options[index]">
      </formly-form>

      <div class="d-flex justify-content-between">
        <button *ngIf="index !== 0" matStepperPrevious mat-raised-button color="primary" (click)="prevStep(index)" type="button">Back</button>
        <button *ngIf="!last" matStepperNext mat-raised-button color="primary" [disabled]="!form.at(index).valid" (click)="nextStep(index)" type="button">Next</button>
        <button *ngIf="last" mat-raised-button color="primary" [disabled]="!form.valid" type="submit">Submit</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</form>
